/* fonts-start */
@import url("https://fonts.googleapis.com/css2?family=Imbue:opsz,wght@10..100,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
/* fonts-end */

@import "tailwindcss";

/* .home {
  min-height: 100vh;

  background-image:
    linear-gradient(
      to top,
      rgb(0, 0, 0),
      rgba(255, 255, 255, 0.116),
      rgba(255, 255, 255, 0),
      rgba(0, 0, 0, 0)
    ),
    url("/bg2.png");

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
 */
