/* fonts-start */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
/* fonts-end */

@import "tailwindcss";

body {
  font-family: Inter;
  background-image: url(/bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: cnter;
}

/* body {
  font-family: Inter;

  background-image:
    linear-gradient(to top, rgba(45, 90, 3, 0.6), rgba(0, 0, 0, 0)),
    url(/bg.png);

  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;
} */